*{
    box-sizing: border-box;
}
body{
     margin: 0;
}
.pg-header {
    overflow: hidden;
    background-color: #FFB6C1;
}
.pg-header a {
    height: 48px;
    color: #797979;
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.pg-header a:hover {
    background-color: #D7D3AD;
    color: black;
}
.header{
    color: #797979;
}