{% extends 'base.html' %}

    {% block content %}
    <img src="{{ img_url }}" alt="皮肤" style="width:650px" >
    <table>
        <tr>
            <th>时间</th>
            <th>发送者</th>
            <th>接收者</th>
            <th>消息</th>
        </tr>
        {% for item in coin_history %}
        <tr>
            <td>{{ item.timestamp }}</td>
            <td>
                <a href="/user/{{ item.sender }}/">{{ item.sender }}</a>
            </td>
            <td>
                <a href="/user/{{ item.recive }}/">{{ item.recive}}</a>
            </td>
            <td>
                {{ item.mesg }}
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endblock %}