{% extends 'base.html' %}

    {% block content %}
    <h1>记录</h1>
    <table>
        <tr>
            <th>时间</th>
            <th>资产</th>
            <th>发送</th>
            <th>接收</th>
            <th>消息</th>
        </tr>
        {% for item in historys %}
        <tr>
            <td>{{ item.timestamp }}</td>
            <td>
                <a href="/coin/{{ item.coin }}/">
                    <img src="{{ item.img_url }}" alt="皮肤" style="width:350px">
                </a>
            </td>
            <td>
                {{ item.sender }}
            </td>
            <td>
                {{ item.recive}}
            </td>
            <td>
                {{ item.mesg}}
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endblock %}