<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SkinChain</title>
    <script src="https://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <style>

    </style>

{% extends 'base.html' %}

    {% block content %}
    <div class="box">
        <h2>登录</h2>
        <form class="form-box" action="" method="post" onsubmit="return check_form()">
            <div class="inputBox">
                <input type="text" name="username" id="username" maxlength="64">
                <label>Username</label>
            </div>
            <div class="inputBox">
                <input type="text" name="password" id="password" maxlength="64">
                <label>Password</label>
            </div>
            <input type="submit" value='{{("确定")}}'>
        </form>
    </div>
    <script>
        function check_form(){
            var username = document.getElementById("username").value;
            var password = document.getElementById("password").value;

            if (username.length == 0){
                alert("请输入用户名");
                return false;
            }

            if(password.length == 0){
                alert("请输入密码");
                return false;
            }

            if (username.length != 64){
                alert("用户名长度应为64");
                return false;
            }

            if (password.length != 64){
                alert("密码长度应为64");
                return false;
            }

            reg_str = "^[a-z0-9]+$";
            var reg = new RegExp(reg_str);

            if (!reg.test(username)){
                alert("用户名应为数字与小写字母");
                return false;
            }

            if (!reg.test(password)){
                alert("密码应为数字与小写字母");
                return false;
            }
        }
    </script>
    {% endblock %}