{% extends 'base.html' %}
    {% block mysytle %}
    <style>
        .center-block {
            background-color: #D7D3AD;
            width: 650px;
            height: 400px;
            padding: 0 50px;
            position: fixed;
            left: 50%;
            border-radius: 15px;
            top:50%;
            transform: translate(-50%,-50%);
        }
        .center-block .header {
            font-size:  60px;
            font-weight: bold;
            text-align: center;
            line-height: 200px;
        }
        .center-block .form-wrapper .input-item {
            display: block;
            width: 100%;
            margin-bottom: 20px;
            border: none;
            padding: 10px;
            border-bottom: 2px solid rgb(128,125,125);
            font-size: 15px;
            outline: none;
        }
        .center-block .form-wrapper .input-item::placeholder {
            text-transform: uppercase;
        }
        .center-block .form-wrapper .btn {
            font-size:  20px;
            display: block;
            text-align: center;
            position: fixed;
            color: #189199;
            background-color: #FAD19B;
            margin:0 auto;
        }
    </style>
    {% endblock %}
    {% block content %}
    <div class="center-block">
        <div class="header">登录</div>
            <form class="form-wrapper" action="" method="post" onsubmit="return check_form()">
                <div class="inputBox">
                    <label>Username</label>
                    <input class="input-item" type="text" name="username" id="username" maxlength="64">
                </div>
                <div class="inputBox">
                    <label>Password</label>
                    <input class="input-item" type="text" name="password" id="password" maxlength="64">
                </div>
                <input type="submit" class="btn" value='{{("确定")}}'>
            </form>
        </div>
    </div>
    <script>
        function check_form(){
            var username = document.getElementById("username").value;
            var password = document.getElementById("password").value;

            if (username.length == 0){
                alert("请输入用户名");
                return false;
            }

            if(password.length == 0){
                alert("请输入密码");
                return false;
            }

            if (username.length != 64){
                alert("用户名长度应为64");
                return false;
            }

            if (password.length != 64){
                alert("密码长度应为64");
                return false;
            }

            reg_str = "^[a-z0-9]+$";
            var reg = new RegExp(reg_str);

            if (!reg.test(username)){
                alert("用户名应为数字与小写字母");
                return false;
            }

            if (!reg.test(password)){
                alert("密码应为数字与小写字母");
                return false;
            }
        }
    </script>
    {% endblock %}