{% extends 'base.html' %}
    {% block mysytle %}
    <style>

    </style>
    {% endblock %}
    {% block content %}
    <div>
        <h1  class="text-align:center">交易</h1>
        <form action="" method="post" class="text-align:center">
            <table class="text-align:center">
                <p>选择皮肤</p>
                    {% for item in img_url_list %}
                        <tr>
                            <th>
                                <input type="checkbox" id="pic" value="{{ item.coin }}" name="pic">
                            </th>
                            <td>
                                <img src="{{ item.img_url }}" style="width:350px">
                            </td>
                            <td>
                                {{ item.coin }}
                            </td>
                        </tr>
                        {% endfor %}
                <tr>
                    <td>输入目标账户</td>
                </tr>
                <tr>
                    <td>
                        username:
                    </td>
                    <td>
                        <input type="text" name="username" id="username" maxlength="64" style="width:500px">
                    </td>
                </tr>
                <tr>
                    <td>消息</td>
                    <td>
                        <input type="text" name="message" id="message" maxlength="64" style="width:500px">
                    </td>
                </tr>
            </table>
            <input type="submit" onclick="check_form()" class="btn" value='{{("确定")}}'>
        </form>
    </div>
    <script>
        function check_form(){
            var username = document.getElementById("username").value;
            var coin = document.getElementById("username").value;

            if (username.length == 0){
                alert("请输入目标账户");
                return false;
            }

            if (username.length != 64){
                alert("用户名长度应为64");
                return false;
            }

            reg_str = "^[a-z0-9]+$";
            var reg = new RegExp(reg_str);

            if (!reg.test(username)){
                alert("用户名应为数字与小写字母");
                return false;
            }
            return true;
        }
    </script>
    {% endblock %}