{% extends 'base.html' %}

    {% block content %}
    <h1>上传皮肤文件</h1>
    <div>
        <tr>
            <th>选择文件</th>
                <input type="file" id="importFile"/>
                <input type="button" οnclick="upload()"/>
        </tr>
    </div>
    <script>
        function get_file_path(){
            var filename = document.getElementById("importFile").value;

            reg_str = ".*jpg$";
            var reg = new RegExp(reg_str);

            if (!reg.test(filename)){
                alert("只支持上传jpg");
                return false;
            }

            data = {
                "filepath": filename,
                "username": {{ username }}
            }
            $.ajax({
                url:"/uploader/",
                type:"post",
                data:data,
                dataType: 'json',
                processData:false,
                contentType:false,
                success:function(data){
                    if (data.status == "su"){
                        alert("文件上传成功");
                        window.location.replace("/uploader/" + data.index + "/");
                    }
                },
                error:function(e){
                    alert("文件上传失败");
                    location.reload();
                }
        }
    </script>
    {% endblock %}